
@{
    ViewData["Title"] = "breakfast";
}

<h1>breakfast</h1>

<div class="recipe_list">
    <div class="recipe">
        <div class="h3">
            < a href="" class="list"
        </div>
    </div>
</div>