
@{
    ViewData["Title"] = "breakfast";
}

<h1>Завтрак</h1>

<div class="recipes">
    <div class="recipes-text-breakfast">
        <h2>Вкусные и полезные завтраки</h2>
        <p>Начните день с аппетитного и питательного завтрака. Здесь собраны лучшие рецепты для бодрого утра.</p>
    </div>
    <div class="recipes-block-breakfast">
        <div class="breakfast-block" >
             <div class="breakfast-block-img">
                     <img src="~/img/breakfast.jpeg" alt="breakfast"/> 
             </div>
             <div class="breakfast-block-text">
                <a class="block" asp-area="" asp-controller="Home" asp-action="lunch" target="_blank">Омлет с овощами</a>

                
                     <p> Это здоровый и питательный завтрак. Омлет с овощами богат белками, витаминами и минералами, что делает его отличным выбором для начала дня.</p>
             </div>
        </div>
         <div class="breakfast-block" >
             <div class="breakfast-block-img">
                     <img src="~/img/breakfast.jpeg" alt="breakfast"/> 
             </div>
             <div class="breakfast-block-text">
                     <a class="block" asp-area="" asp-controller="Home" asp-action="Breakfast">Омлет с овощами</a>
                     <p>Это здоровый и питательный завтрак. Омлет с овощами богат белками, витаминами и минералами, что делает его отличным выбором для начала дня.</p>
             </div>
        </div>
         <div class="breakfast-block" >
             <div class="breakfast-block-img">
                     <img src="~/img/breakfast.jpeg" alt="breakfast"/> 
             </div>
             <div class="breakfast-block-text">
                     <a class="block" asp-area="" asp-controller="Home" asp-action="Breakfast">Омлет с овощами</a>
                     <p>Это здоровый и питательный завтрак. Омлет с овощами богат белками, витаминами и минералами, что делает его отличным выбором для начала дня.</p>
             </div>
        </div>
        </div>
        
    </div>
     <div class="recipes-block-breakfast-2">
        <div class="breakfast-block" >
             <div class="breakfast-block-img">
                     <img src="~/img/breakfast.jpeg" alt="breakfast"/> 
             </div>
             <div class="breakfast-block-text">
                     <a class="block" asp-area="" asp-controller="Home" asp-action="Breakfast">Омлет с овощами</a>
                     <p> Это здоровый и питательный завтрак. Омлет с овощами богат белками, витаминами и минералами, что делает его отличным выбором для начала дня.</p>
             </div>
        </div>
         <div class="breakfast-block" >
             <div class="breakfast-block-img">
                     <img src="~/img/breakfast.jpeg" alt="breakfast"/> 
             </div>
             <div class="breakfast-block-text">
                     <a class="block" asp-area="" asp-controller="Home" asp-action="Breakfast">Омлет с овощами</a>
                     <p>Это здоровый и питательный завтрак. Омлет с овощами богат белками, витаминами и минералами, что делает его отличным выбором для начала дня.</p>
             </div>
        </div>
         <div class="breakfast-block" >
             <div class="breakfast-block-img">
                     <img src="~/img/breakfast.jpeg" alt="breakfast"/> 
             </div>
             <div class="breakfast-block-text">
                     <a class="block" asp-area="" asp-controller="Home" asp-action="Breakfast">Омлет с овощами</a>
                     <p>Это здоровый и питательный завтрак. Омлет с овощами богат белками, витаминами и минералами, что делает его отличным выбором для начала дня.</p>
             </div>
        </div>
        </div>

    </div>
</div>